#work {
    background-color: #1B262F;

}

.work__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-image: url(../../img/work__bg.svg);
    background-position: left top;
}

.work__content {
    max-width: 445px;
}

.work__title {
    font-family: $font2;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    margin-bottom: 24px;
    color: #FBFCFE;
}

.work__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: rgba(251, 252, 254, 0.7);
    margin-bottom: 32px;
}

.work__link {
    padding: 16px 32px 14px 32px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
}

.work__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 39px;
    row-gap: 60px;
    max-width: 600px;
    align-items: center;
}

@media screen and (max-width:1000px) {
   

    .work__container {
        flex-direction: column-reverse;
        padding-top: 88px;
        padding-bottom: 88px;
        background-repeat: no-repeat;
        background-image: url(../../img/work__bg-tablet.svg);
        background-position: top center ;
    }

    .work__content {
        max-width: 600px;
        text-align: center;
        margin-top: 64px;
    }


     .work__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 24px;}

    .work__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .work__logos {
        max-width: 600px;
        margin-bottom: 64px;
    }

   
}

@media screen and (max-width:600px) {
      

    .work__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .work__content{
        text-align: center;
    }

    .work__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .work__logos {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 56px;
    } 
}
